<!DOCTYPE html>
<html lang="en" ng-app="crud">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/bootstrap3/dist/css/bootstrap.css">
    <link rel="stylesheet" href="lab/css/style.css">

    <title>CRUD</title>
</head>

<body ng-controller="controller">
    <!-- Controller funciona como o controller do MVC -->
    <div class="container">
        <div class="alinhamento">
            <h1>Listagem</h1>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalContato" ng-click="enderecos=[]">Criar Nova
                Pessoa</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th><a ng-click="ordenarPor('nome')"> Nome</a></th>
                    <th><a ng-click="ordenarPor('idade')">Idade</a></th>
                    <th>Data de Nascimento</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Celular</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contato in contatos">
                    <td>{{contato.nome}}</td>
                    <td>{{contato.idade}}</td>
                    <td>{{contato.dataNascimento | date: 'dd/MM/yyyy'}}</td>
                    <td>{{contato.email}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.celular}}</td>
                    <td>
                        <div>
                            <button type="button" class="btn btn-warning glyphicon glyphicon-edit" data-toggle="modal"
                                data-target="#modalEditar" ng-click="selecionaContato(contato)"></button>
                            <button type="button" class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal"
                                data-target="#modalDeletar" ng-click="selecionaContato(contato)"></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="modalContato" role="dialog">
        <div class="modal-content meuModal">
            <div class="modal-header">
                <h1 class="modal-title">Dados Pessoais</h1>
            </div>
            <div div class="modal-body">
                <form class="form-horizontal" role="form" name="contatoForm">
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="nome">Nome</label>
                        <input class="col-md-3 col-lg-offset-2" type="text" id="nome" ng-required="true"
                            ng-minlength="4" placeholder="Digite seu nome: " ng-model="payload.nome" required>

                        <label class="control-label col-sm-1 arrumandoIdade" for="idade">Idade</label>
                        <input class="col-md-3 col-lg-offset-1" type="number" id="idade" ng-required="true"
                            ng-pattern="/^\d{2,3}$/" placeholder="Digite sua idade: " ng-model="payload.idade" required>

                        <label class="control-label col-sm-1" for="email">Email</label>
                        <input class="col-md-3 col-lg-offset-2" type="email" ng-required="true" id="email"
                            placeholder="Digite seu email: " ng-model="payload.email" required>

                        <label class="control-label col-sm-1 dataNasc" ng-required="true" for="dataNasc">Data
                            Nascimento</label>
                        <input class="col-md-3 col-lg-offset-0 " type="date" id="dataNasc"
                            ng-model="payload.dataNascimento" required>

                        <label class="control-label col-sm-1" for="telefone">Telefone</label>
                        <input class="col-md-3 col-lg-offset-2" type="text" id="telefone"
                            ng-pattern="/(\(d{2}\)\s)?(\d{4,5}-\d{4})/"
                            placeholder="Digite seu telefone: (caso nao tenha deixe em branco)"
                            ng-model="payload.telefone">

                        <label class="control-label col-sm-1 arrumandoContato" for="celular">Celular</label>
                        <input class="col-md-3 col-lg-offset-1" type="text" id="celular" ng-required="true"
                            ng-pattern="/(\(d{2}\)\s)?(\d{4,5}-\d{4})/" placeholder="Digite seu celular: "
                            ng-model="payload.celular">
                    </div>

                </form>
                <div class="modal-header">
                    <h1 class="modal-title">Endereço</h1>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" name="enderecoForm">
                        <div class="form-group">
                            <label class="control-label col-sm-1" for="logradouro">Logradouro</label>
                            <input class="col-md-3 col-lg-offset-2" type="text" id="logradouro" ng-required="true"
                                ng-model="novoEndereco.logradouro">

                            <label class="control-label col-sm-1 arrumandoIdade" for="numero">Numero</label>
                            <input class="col-md-3 col-lg-offset-1" type="text" id="numero" ng-required="true"
                                ng-model="novoEndereco.numero">

                            <label class="control-label col-sm-1" for="bairro">Bairro</label>
                            <input class="col-md-3 col-lg-offset-2" type="text" id="bairro" ng-required="true"
                                ng-model="novoEndereco.bairro">

                            <label class="control-label col-sm-1 dataNasc" for="cidade">Cidade</label>
                            <input class="col-md-3 col-lg-offset-0 " type="text" id="cidade" ng-required="true"
                                ng-model="novoEndereco.cidade">

                            <label class="control-label col-sm-1" for="uf">UF</label>
                            <input class="col-md-3 col-lg-offset-2" type="text" id="uf" ng-required="true" ng-model="novoEndereco.uf">

                        </div>
                        <button type="button" class="btn btn-primary btn-save" name="addEndereco"
                            ng-click="inserirEndereco()" ng-disabled="enderecoForm.$invalid">Adicionar</button>
                    </form>
                    <table class="table">
                        <h1 class="list-endereco">Endereços</h1>
                        <thead>
                            <tr>
                                <th>Logradouro</th>
                                <th>Numero</th>
                                <th>Bairro</th>
                                <th>Cidade/UF</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="endereco in enderecos">
                                <td>{{endereco.logradouro}}</td>
                                <td>{{endereco.numero}}</td>
                                <td>{{endereco.bairro}}</td>
                                <td>{{endereco.cidade +'-'+ endereco.uf | uppercase}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger glyphicon glyphicon-trash lixo"
                                        ng-click="deletaEnderecoArray(selecionaEnderecoArray(endereco))"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="contatoForm.$invalid" data-dismiss="modal"
                    ng-click="save()">Save</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEditar" role="dialog">
        <div class="modal-content meuModal">
            <div class="modal-header">
                <h1 class="modal-title">Dados Pessoais</h1>
            </div>
            <div div class="modal-body">
                <form class="form-horizontal" role="form" name="editContatoForm">
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="nome">Nome</label>
                        <input class="col-md-3 col-lg-offset-2" type="text" id="nome" ng-required="true"
                            ng-minlength="4" placeholder="Digite seu nome: " ng-model="contatoSelecionado.nome">

                        <label class="control-label col-sm-1 arrumandoIdade" for="idade">Idade</label>
                        <input class="col-md-3 col-lg-offset-1" type="text" id="idade" ng-required="true"
                            placeholder="Digite sua idade: " ng-model="contatoSelecionado.idade">

                        <label class="control-label col-sm-1" for="email">Email</label>
                        <input class="col-md-3 col-lg-offset-2" type="email" id="email" ng-required="true"
                            placeholder="Digite seu email: " ng-model="contatoSelecionado.email">

                        <label class="control-label col-sm-1 dataNasc" for="dataNasc">Data Nascimento</label>
                        <input class="col-md-3 col-lg-offset-0 " type="date" id="dataNasc" ng-required="true"
                            ng-model="contatoSelecionado.dataNascimento">

                        <label class="control-label col-sm-1" for="telefone">Telefone</label>
                        <input class="col-md-3 col-lg-offset-2" type="text" id="telefone"
                            placeholder="Digite seu telefone: (caso nao tenha deixe em branco)"
                            ng-model="contatoSelecionado.telefone">

                        <label class="control-label col-sm-1 arrumandoContato" for="celular">Celular</label>
                        <input class="col-md-3 col-lg-offset-1" type="text" id="celular" ng-required="true"
                            placeholder="Digite seu celular: " ng-model="contatoSelecionado.celular">
                    </div>
                </form>

                <div class="modal-header">
                    <h1 class="modal-title">Endereço</h1>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-1" for="logradouro">Logradouro</label>
                            <input class="col-md-3 col-lg-offset-2" type="text" id="logradouro"  ng-required="true"
                                ng-model="novoEndereco.logradouro">

                            <label class="control-label col-sm-1 arrumandoIdade" for="numero">Numero</label>
                            <input class="col-md-3 col-lg-offset-1" type="text" id="numero"  ng-required="true"
                                ng-model="novoEndereco.numero">

                            <label class="control-label col-sm-1" for="bairro">Bairro</label>
                            <input class="col-md-3 col-lg-offset-2" type="text" id="bairro"  ng-required="true"
                                ng-model="novoEndereco.bairro">

                            <label class="control-label col-sm-1 dataNasc" for="cidade">Cidade</label>
                            <input class="col-md-3 col-lg-offset-0 " type="text" id="cidade"  ng-required="true"
                                ng-model="novoEndereco.cidade">

                            <label class="control-label col-sm-1" for="uf">UF</label>
                            <input class="col-md-3 col-lg-offset-2" type="text" id="uf"  ng-required="true" ng-model="novoEndereco.uf">

                        </div>
                        <button type="button" class="btn btn-primary btn-save" ng-disabled="enderecoForm.$invalid"
                            ng-click="inserirEndereco()">Adicionar</button>
                    </form>
                    <table class="table">
                        <h1 class="list-endereco">Endereços</h1>
                        <thead>
                            <tr>
                                <th>Logradouro</th>
                                <th>Numero</th>
                                <th>Bairro</th>
                                <th>Cidade/UF</th>
                                <th>Apagar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="endereco in enderecos">
                                <td>{{endereco.logradouro}}</td>
                                <td>{{endereco.numero}}</td>
                                <td>{{endereco.bairro}}</td>
                                <td>{{endereco.cidade +'-'+ endereco.uf | uppercase}}</td>
                                <td>
                                    <div>
                                        <button type="button" class="btn btn-danger glyphicon glyphicon-trash lixo"
                                            data-toggle="modal" data-target="#modalDeletarEndereco"
                                            ng-click="selecionaEndereco(endereco)"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="editContatoForm.$invalid"
                    data-dismiss="modal" ng-click="alteraContato(contato)">Save</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDeletar" role="dialog">
        <div class="modal-content meuModal">
            <div class="modal-header">
                <h1 class="modal-title">Deseja deletar este contato: {{contatoSelecionado.nome}}?</h1>
            </div>
            <div class="modal-body btn-delete">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    ng-click="deletaContato()">Deletar</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDeletarEndereco" role="dialog">
        <div class="modal-content meuModal">
            <div class="modal-header">
                <h1 class="modal-title">Deseja deletar este Endereço:{{" "+enderecoSelecionado.logradouro +" "+
                    enderecoSelecionado.numero}}?</h1>
            </div>
            <div class="modal-body btn-delete">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    ng-click="deletaEndereco(deletaEnderecoArray)">Deletar</button>
            </div>
        </div>
    </div>

</body>

<!-- Modoulos do Boostrap 3 -->

<script src="node_modules/bootstrap3/dist/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<!-- Biblioteca de Mascara -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script src="lab/js/mascaraCampo.js"></script>

<!-- Modulos do Angular -->
<script src="node_modules/angular/angular.js"></script>
<script src="lab/js/app.js"></script>

</html>